.img{
    height: 230px;
    width: 230px;
        
}


.div1{
    display: flex;
    margin-left: 400px;
    margin-top: 250px;
    border-radius: 5px;
    
}

.div2{
    height: 185px;
    width: 300px;
    border: 2px solid white;
    background-color:white;
    box-shadow: 2px 2px whitesmoke;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}